body
{
    background-color: lightgray;
    padding-left: 25%;
    padding-right: 25%;
    font-family: "Lucida Console";
    font-size: 155%;
}

#post
{
    text-align: justify;
}

hr
{
    border: 1px solid darkgray;
}

#title
{
    text-align: center;
}

#header
{
    font-size: 150%;
    text-align: center;
}

.about-box
{
    border-left: 1px solid darkgray;
    text-align: justify;
}

#profile-pic
{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#text-input
{
    text-align: justify;
    font-size: 30%;
}
