body
{
    width: 40%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    font-family: "Lucida Console";
    font-size: 200%;
}

#post
{
    text-align: justify;
}

hr
{
    border: 1px solid darkgray;
}

#title
{
    text-align: center;
}

#header
{
    font-size: 150%;
    text-align: center;
}

.about-box
{
    border-left: 1px solid darkgray;
    text-align: justify;
}

#profile-pic
{
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

#text-input
{
    text-align: justify;
    font-size: 30%;
}
